/* Flex container styling */
.flex2 {
    display: flex;
    justify-content: space-between;
    background-color: #FFD1DC;
    padding: 10px;
}

/* Image styling */
.photo {
    width: 30%;
    height: auto;
    margin: 5%;
}

/* Text container styling */
.text1 {
    color: rgba(0, 0, 0, 0.859);
    margin: 5%;
}

/* Paragraph styling within text1 */
.text1 p {
    font-size: 1.5rem;
}

/* Heading styling within text1 */
.text1 h1 {
    font-size: 2rem;
}

/* Media query for mobile devices */
@media (max-width: 600px) {
    .flex2 {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .photo {
        width: 90%; /* Increased width to make the image larger */
        margin: 10px 0;
    }

    .text1 {
        margin: 10px 0;
        text-align: center;
    }

    .text1 p {
        font-size: 1.2rem;
    }

    .text1 h1 {
        font-size: 1.5rem;
    }
}
